* {
  margin: 0;
  text-decoration: none;
}
body{
    background-color: #f8f8f8;
}

nav {
  display: flex;
  height: 70px;
  justify-content: space-around;
  align-items: center;
 }
#nav-items {
  display: flex;
  gap: 40px;
}

#nav-items a {
  color: #222222;
  font-size: 18px;
}