* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: #f8f8f8;
}

nav {
  overflow: hidden;
  height: 50px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#nav-items {
  float: right;
  margin-right: 108px;
}

#logo {
  margin-left: 108px;
  color: #000000;
}
#logo:hover {
  background-color: #607d8b;
  color: #ffffff;
}
nav a {
  float: left;
  text-align: center;
  padding: 14px 14px;
  font-size: 18px;
  color: #000000;
}

nav a:hover {
  background-color: #607d8b;
  color: #ffffff;
}

#testimonial {
  display: flex;
  flex-direction: column;
}

#testimonial-items {
  display: flex;
}
.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  color: white;
}

.html {
  width: 90%;
  background-color: #04aa6d;
}
.css {
  width: 80%;
  background-color: #2196f3;
}
.js {
  width: 65%;
  background-color: #f44336;
}
.php {
  width: 60%;
  background-color: #808080;
}
