@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #f6e2c4;
  font-family: "Poppins";
}

.pri-color {
  color: #607d8b;
}

nav {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  height: 70px;
  background-color: #607d8b;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#nav-items {
  float: right;
  margin-right: 108px;
}

#logo {
  margin-left: 108px;
  color: #000000;
  padding: 14px 14px;
  font-size: 18px;
}

#logo:hover {
  background-color: #607d8b;
  color: #f2f2f2;
  border-radius: 20px;
}

nav a {
  float: left;
  text-align: center;
  padding: 14px 14px;
  font-size: 18px;
  color: #000000;
}

nav a:hover {
  background-color: #607d8b;
  color: #f2f2f2;
  border-radius: 20px;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top p {
  display: flex;
  gap: 10px;
  justify-content: center;
  color: #000000;
  opacity: 40%;
  margin-top: 148px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;    
}

#top a {
  color: #000000;
}

#top h1 {
  font-size: 40px;
  color: #222222;
}

#clients {
  margin-top: 80px;
  display: flex;
  gap: 20px;
}

#client-cat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* width: 40%; */
  margin-left: 112px;
  gap: 20px;
}

#about-me {
  padding-left: 24px;
  /* width: 40%; */
  margin-right: 112px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#me {
  font-size: 13px;
  color: #607d8b;
  letter-spacing: 2px;
  font-weight: 600;
}

#about-me h2 {
  font-size: 40px;
}

#about-me p {
  font-size: 16px;
}

#details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.detail-index {
  display: flex;
  flex-direction: column;
}

.client-cat-card {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 193px;
  border-radius: 0 50px;
}

.client-cat-card h1 {
  color: #607d8b;
  font-size: 40px;
}

#clients-btn {
  background-color: #607d8b;
  padding: 16px;
  font-size: 16px;
  width: 153px;
  /* height: 51px;  */
  color: #f2f2f2;
  margin-right: 470px;
  border-radius: 4px;
}

#skills {
  margin-top: 144px;
}

#skills-top {
  margin-top: 128px;
  margin-bottom: 48px;
  margin-left: 375px;
  margin-right: 375px;
  height: 132px;
  /* width: 793px; */
  /* align-items: center;
justify-content: center; */
  text-align: center;
}

#skills-top h2 {
  font-size: 40px;
  color: #222222;
}

#skills-top span {
  font-size: 13px;
  letter-spacing: 2px;
  color: #607d8b;
  font-weight: bold;
}

#testimonial {
  margin-top: 128px;
  padding-top: 128px;
  display: flex;
  flex-direction: column;
}

#testimonial-top {
  text-align: center;
}

#testimonial-top h2 {
  font-size: 40px;
  color: #222222;
}

#testimonial-top span {
  font-size: 13px;
  letter-spacing: 2px;
  color: #607d8b;
  font-weight: bold;
}

#testimonial-items {
  width: 1320px;
  height: 359px;
  margin: 88px 100px;
  padding: 0 12px;
  display: flex;
  gap: 24px;
}

.testimonial-card {
  margin: 0 4px;
  padding: 35px 30px 30px 30px;
  background-color: #f2f2f2;
  border-radius: 50px 0;
  width: 410px;
  height: 279px;
   text-align: justify;
  /* justify-content: center;
  align-items: center; */
}


.happy-client {
  display: flex;
  gap: 0;
  margin-bottom: 24px;
  align-items: center;
}

.client-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.client-image i {
  color: #f2f2f2;
  background-color: #607d8b;
  width: 30px;
  height: 30px;
  font-size: 18px;
  border-radius: 50%;
  padding: 7px;
  margin-left: -30%;
  margin-top: -10%;
}

.client-info {
  padding-left: 16px;
  margin-left: -10%;
}

.client-info h5 {
  color: #222222;
  font-size: 22px;
  font-size: bold;
}

.client-info span {
  color: #607d8b;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

.testimonial-card p {
  /* height: 86px; */
  font-size: 16px;
}

#skill-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

.skill-item {
  padding-left: 12px;
  padding-right: 12px;
}

.skill-item p {
  font-size: 14px;
  padding-left: 10px;
  font-weight: bold;
  color: #607d8b;
}

.container {
  width: 100%;
  background-color: #ddd;
  border-radius: 20px;
}

.skills {
  text-align: right;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  color: #f2f2f2;
}

.html {
  width: 90%;
  background-color: #607d8b;
  border-radius: 20px;
  padding-right: 5px;
}

.css {
  width: 80%;
  background-color: #607d8b;
  border-radius: 20px;
  padding-right: 5px;
}

.js {
  width: 65%;
  background-color: #607d8b;
  border-radius: 20px;
  padding-right: 5px;
}

.wp {
  width: 60%;
  background-color: #607d8b;
  border-radius: 20px;
  padding-right: 5px;
}

footer {
  font-size: 13px;
  width: 1320px;
  height: 23px;
  margin: 32px 100px;
  text-align: center;
}

footer a {
  color: #000000;
}

footer a:hover{
  color: #607d8b;
}