* {
  margin: 0;
  text-decoration: none;
}
body {
  background-color: #F6E2C4;
}

nav {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  height: 70px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#nav-items {
  float: right;
  margin-right: 108px;
}

#logo {
  margin-left: 108px;
  color: #000000;
}
#logo:hover {
  background-color: #607d8b;
  color: #f2f2f2;
}
nav a {
  float: left;
  text-align: center;
  padding: 14px 14px;
  font-size: 18px;
  color: #000000;
}

nav a:hover {
  background-color: #607d8b;
  color: #f2f2f2;
}
#blog-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



footer{
  font-size: 13px;
  width: 1320px;
  height: 23px;
  margin: 32px 100px;
  text-align: center; 
 }