* {
  margin: 0;
  text-decoration: none;
}
body {
  background-color: #f8f8f8;
}

nav {
  overflow: hidden;
  height: 50px;
  background-color: #607d8b;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#nav-items {
  float: right;
  margin-right: 108px;
}

#logo {
  margin-left: 108px;
  color: #000000;
}
#logo:hover {
  background-color: #607d8b;
  color: #ffffff;
}
nav a {
  float: left;
  text-align: center;
  padding: 14px 14px;
  font-size: 18px;
  color: #000000;
}

nav a:hover {
  background-color: #607d8b;
  color: #ffffff;
}

#hero {
  display: flex;
  overflow: hidden;
  height: 822px;
}

#hero-text {
  margin-left: 108px;
  width: 768px;
  margin-top: 20%;
}

#hero-image {
  background-color: #607d8b;
  width: 768px;
  height: 822px;
}

#hero-image img{
  margin-left: -15%;
  margin-top: -15%;
  width: 660px;
  height: 822px;
}

/* #607D8B */
