* {
  margin: 0;
  text-decoration: none;
}
body {
  background-color: #f8f8f8;
}

nav {
  overflow: hidden;
    height: 50px;
  }
#nav-items {
  float: right;
  margin-right: 108px;
  
}

#logo {
  margin-left: 108px;
  color: #000000;
}
#logo:hover {
  background-color: #607D8B;
  color: #ffffff;
}
nav a {
  float: left;
  text-align: center;
  padding: 14px 14px;
  font-size: 18px;
  color: #000000;
}

nav a:hover {
  background-color: #607D8B;
  color: #ffffff;
  }

  #service-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #price-types{
    display: flex;
  }